# OS Related files
.DS_Store
._*
Thumbs.db
Desktop.ini
 
# Local IDE settings
.vscode
.idea/
 
# Logs
npm-debug.log*
 
# Local storage
node_modules/
_deffer/
dist/
*.disabled
 
# Security and Environment
.env*
!.env_example
 
# Playwright Test results
playwright-report/
test-results/
 
# Playwright automation artifacts
screenshots/
videos/
trace.zip